In [ ]:

Mysql : 
    
    1. Create a  table attribute dataset and dress dataset
    2. Do a bulk load for these two table for respective dataset 
    3. read these dataset in pandas as a dataframe 
    4. Convert attribute dataset in json format 
    5. Store this dataset into mongodb
    6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID
    7. Write a sql query to find out how many unique dress that we have based on dress id 
    8. Try to find out how many dress is having recommendation 0
    9. Try to find out total dress sell for individual dress id 
    10. Try to find out a third highest most selling dress id

**Questions**

**3. read these dataset in pandas as a dataframe**

In [4]:
import mysql.connector as sql
import pandas as pd

db_connection = sql.connect(host='127.0.0.1', database='fashion', user='root', password='12345')

In [5]:
df_attribute = pd.read_sql("select * from attribute",con=db_connection)

In [6]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [7]:
df_dress = pd.read_sql("select * from dress",con=db_connection)

In [8]:
df_dress

,Dress_ID,29/8/2013,31/8/2013,2/9/2013,4/9/2013,6/9/2013,8/9/2013,10/9/2013,12/9/2013,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2/10/2013,4/10/2013,6/10/2013,8/10/2010,10/10/2013,12/10/2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624,3706,3746,3795,3832,3897,3923,3985,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942,3258,3354,3475,3654,3911,4024,4125,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11,11,11,11,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892,1914,1924,1929,1941,1952,1955,1959,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156,2252,2312,2387,2459,2544,2614,2693,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,713391965,0,0,0,560,554,544,537,525,519,...,400,388,360,364,372,377,380,382,384,285
494,722565148,0,0,0,875,866,861,854,850,844,...,859,866,882,888,895,898,906,913,919,931
495,532874347,0,0,0,734,728,726,715,694,690,...,616,597,586,569,561,555,551,546,535,520
496,655464934,0,0,0,254,259,261,263,268,270,...,257,256,255,254,253,250,249,249,249,248
497,919930954,0,0,0,538,545,558,563,578,585,...,628,632,639,645,651,655,660,668,674,680

**4. Convert attribute dataset in json format**

In [9]:
df_attribute.to_json(r"D:\\INEURONE\\assigment\\Live\\test1.json")

In [10]:
js = pd.read_json("D:\\INEURONE\\assigment\\Live\\test1.json")

In [11]:
js

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

**5. Store this dataset into mongodb**

In [12]:
import pymongo

client = pymongo.MongoClient("mongodb://mukulvyas:{pswrd}@cluster-shard-00-00.kkjvo.mongodb.net:27017,cluster-shard-00-01.kkjvo.mongodb.net:27017,cluster-shard-00-02.kkjvo.mongodb.net:27017/?ssl=true&replicaSet=atlas-ag81y5-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

database = client["fashion"]
collection = database["attribute"]

collection.insert_many(df_attribute.to_dict("records")) #5. Store this dataset into mongodb

**6. in sql task try to perform left join operation with attrubute dataset and dress dataset on column Dress_ID**

In [13]:
pd.read_sql("select * from attribute a left join dress d  on a.dress_id=d.dress_id",con=db_connection)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2/10/2013,4/10/2013,6/10/2013,8/10/2010,10/10/2013,12/10/2013
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,...,3554.0,3624.0,3706.0,3746.0,3795.0,3832.0,3897.0,3923.0,3985.0,4048.0
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,...,2710.0,2942.0,3258.0,3354.0,3475.0,3654.0,3911.0,4024.0,4125.0,4277.0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,...,1878.0,1892.0,1914.0,1924.0,1929.0,1941.0,1952.0,1955.0,1959.0,1963.0
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,...,2032.0,2156.0,2252.0,2312.0,2387.0,2459.0,2544.0,2614.0,2693.0,2736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,...,859.0,866.0,882.0,888.0,895.0,898.0,906.0,913.0,919.0,931.0
546,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,...,859.0,0.0,882.0,0.0,0.0,0.0,906.0,0.0,0.0,931.0
547,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,...,616.0,597.0,586.0,569.0,561.0,555.0,551.0,546.0,535.0,520.0
548,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,...,257.0,256.0,255.0,254.0,253.0,250.0,249.0,249.0,249.0,248.0
549,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,...,628.0,632.0,639.0,645.0,651.0,655.0,660.0,668.0,674.0,680.0

**7. Write a sql query to find out how many unique dress that we have based on dress id**

In [14]:
pd.read_sql("select count(distinct(dress_id)) as all_unique_dresses from attribute",con=db_connection)

   all_unique_dresses
0                 475

**8. Try to find out how many dress is having recommendation 0**

In [18]:
pd.read_sql("select count(*) as all_ZEROS_Recommendation from attribute where Recommendation = 0",con=db_connection)

   all_ZEROS_Recommendation
0                       290

**9. Try to find out total dress sell for individual dress id**

In [19]:
df_dress

,Dress_ID,29/8/2013,31/8/2013,2/9/2013,4/9/2013,6/9/2013,8/9/2013,10/9/2013,12/9/2013,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2/10/2013,4/10/2013,6/10/2013,8/10/2010,10/10/2013,12/10/2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624,3706,3746,3795,3832,3897,3923,3985,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942,3258,3354,3475,3654,3911,4024,4125,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11,11,11,11,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892,1914,1924,1929,1941,1952,1955,1959,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156,2252,2312,2387,2459,2544,2614,2693,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,713391965,0,0,0,560,554,544,537,525,519,...,400,388,360,364,372,377,380,382,384,285
494,722565148,0,0,0,875,866,861,854,850,844,...,859,866,882,888,895,898,906,913,919,931
495,532874347,0,0,0,734,728,726,715,694,690,...,616,597,586,569,561,555,551,546,535,520
496,655464934,0,0,0,254,259,261,263,268,270,...,257,256,255,254,253,250,249,249,249,248
497,919930954,0,0,0,538,545,558,563,578,585,...,628,632,639,645,651,655,660,668,674,680

In [20]:
df_dress.set_index("Dress_ID",inplace = True)
df_dress

,29/8/2013,31/8/2013,2/9/2013,4/9/2013,6/9/2013,8/9/2013,10/9/2013,12/9/2013,14/9/2013,16/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2/10/2013,4/10/2013,6/10/2013,8/10/2010,10/10/2013,12/10/2013
Dress_ID,,,,,,,,,,,,,,,,,,,,,
1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,...,3554,3624,3706,3746,3795,3832,3897,3923,3985,4048
1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,...,2710,2942,3258,3354,3475,3654,3911,4024,4125,4277
1190380701,6,7,7,7,8,8,9,10,10,10,...,11,11,11,11,11,11,11,11,11,11
966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,...,1878,1892,1914,1924,1929,1941,1952,1955,1959,1963
876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,...,2032,2156,2252,2312,2387,2459,2544,2614,2693,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965,0,0,0,560,554,544,537,525,519,511,...,400,388,360,364,372,377,380,382,384,285
722565148,0,0,0,875,866,861,854,850,844,841,...,859,866,882,888,895,898,906,913,919,931
532874347,0,0,0,734,728,726,715,694,690,686,...,616,597,586,569,561,555,551,546,535,520
655464934,0,0,0,254,259,261,263,268,270,272,...,257,256,255,254,253,250,249,249,249,248
919930954,0,0,0,538,545,558,563,578,585,590,...,628,632,639,645,651,655,660,668,674,680

In [21]:
df_dress["Total_sales"] = df_dress.sum(axis=1)
df_dress[["Total_sales"]]

            Total_sales
Dress_ID
1006032852        75979
1212192089        52256
1190380701          223
966005983         39691
876339541         44077
...                 ...
713391965          8915
722565148         17508
532874347         12606
655464934          5167
919930954         12312

[498 rows x 1 columns]

**10. Try to find out a third highest most selling dress id**

In [22]:
df_dress[["Total_sales"]].nlargest(3,"Total_sales")

            Total_sales
Dress_ID
629131530        155927
735635595         91556
1006032852        75979

In [23]:
print("3rd highest sold dress")
df_dress[["Total_sales"]][0:1].nlargest(3,"Total_sales")

3rd highest sold dress

            Total_sales
Dress_ID
1006032852        75979